.container {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  padding: 1%;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  background-color: blueviolet;
}

.answers {
  padding: 10px;
}

.comment {
  font-size: 14px;
  color: #8f8f8f;
  margin-top: 5px;
}

.answerInput {
  border-top: 1px solid white;
  padding: 1%;
  width: 100%;
  height: 10vh;
}
